# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# Virtual Environment
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
